
<% include ../../header.ejs %>
<% include ../../navibar.ejs %>

<div class="col-sm-12">
    <h1>구매 로그</h1>
    <table class="table table-borderless table-striped">
      <colgroup>
        <col width="30%">
        <col width="10%">
        <col width="10%">
        <col width="7%">
        <col width="10%">
        <col width="13%">
        <col width="10%">
        <col width="10%s">
      </colgroup>
        <tr>
            <th>프로젝트명</th>
            <th>제품명</th>
            <th>고객명</th>
            <th>수량</th>
            <th>단가</th>
            <th>입고</th>
            <th>삭제</th>
        </tr>
        <% orderLog.forEach(function(order){ %>
            <tr serial="<%=order.serial%>" id="<%=order.id%>">
                <td><%=order.subject%></td>
                <td style="cursor : pointer;" onclick="location.href='/order/edit/<%=order.id%>'"><%=order.product.product%></td>
                <td><%=order.customer%></td>
                <td><%=order.unit%></td>
                <td><%=order.unitPrice%></td>
                <td>
                  <%if(order.remain.remain != 0){%>
                  <button class="btn btn-success income" style="font-size: 50%;" id="<%=order.product._id%>" remain="<%=order.remain.remain%>">전체입고
                    <br>
                    <span>잔여 : <%=order.remain.remain%></span>
                  </button>
                  <%} else {%>
                  <button class="btn btn-default" style="font-size: 50%;">
                    입고완료
                    <br>
                    <%=order.remain.date%>
                  </button>
                  <%}%>
                  </td>
                <td>
                  <%if(order.status === 3){%>
                    <button class="btn btn-danger delete" disabled>삭제</button>
                  <%} else {%>
                    <button class="btn btn-danger delete" id="<%=order.id%>">삭제</button>
                  <% } %>
                </td>
            </tr>
        <% }) %>
    </table>
    <div class="" style="text-align : center;">
        <ul>
          <%
            var offset = 3;
            var partialQuery;
            if(urlQuery) partialQuery = urlQuery.replace(/&page=(.*?)(&|$)/ig,"");
          %>
          <% for(i=1;i<=maxPage;i++){ %>
            <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) && i<=page+(offset-1))){ %>
              <% if(i != page){ %>
                <li style="display : inline-block;"><a href="/order/home?<%=partialQuery%>&page=<%= i %>">[ <%= i %> ]</a></li>
                <% } else { %>
                  <li style="display : inline-block;">[ <b><%= i %></b> ]</li>
                  <% } %>
                <% } else if(i == offset+1 || i == maxPage-offset){ %>
                  <li style="display : inline-block;">...</li>
                <% } %>
              <%}%>
        </ul>
      </div>
      <form class="col-sm-12" action="" id="search">
          <table class="table">
            <tr>
              <td class=col-sm-3>
                <select class="form-control" name="searchType">
                  <% var select %>
                  <option value="subject"
                  <%= search.searchType=="subject"?select="selected":"" %>>프로젝트명</option>
                  <option value="product"
                  <%= search.searchType=="product"?select="selected":"" %>>상품명</option>
                  <option value="customer"
                  <%= search.searchType=="customer"?select="selected":"" %>>회사명</option>
                </select>
              </td>
              <td class="col-sm-7">
                <input class="form-control" type="text" name="searchText" value="<%= select?search.searchText:"" %>">
              </td>
              <td class="col-sm-2">
                <button class="btn btn-default" type="submit" style="width : 100%;">search</button>
              </td>
            </tr>
          </table>
        </form>
</div>

<script>

  $(document).on('click', '.delete', function(){
    const that = $(this);
    const obj = {};
    obj.id = that.attr('id');
    $.ajax({
      data : obj,
      dataType : 'json',
      type : 'POST',
      url : '/order/delete'
    })
    .done(function(){
      that.closest('tr').remove();
    })
    .fail(function(err){
      if(err) console.error(err);
    });
  });

  $(document).on('click', '.income', function(){
    const that = $(this);
    const obj = {};
    obj.id = that.closest('tr').attr('id');
    obj._id = that.attr('id');
    obj.remain = that.attr('remain');
    $.ajax({
      data : obj,
      dataType : 'json',
      type : 'POST',
      url : '/order/income',
    })
    .done(function(args){
      that.html(`
                    입고완료
                    <br>
                    ${args.date}
      `);
      that.attr('class', 'btn btn-default')
    })
    .fail(function(err){
      if(err) console.error(err);
    });
  });
</script>

<% include ../../footer.ejs %>